{% block content %}

     <div class="btn-group-vertical btn-group-large" role="group">
       <a href='/tradesavante/' class="btn btn-success" role="button">Home</a> 
       <a href='/tradesavante/autopick/' class="btn btn-success" role="button">Savante Picks</a>
       <a href='/tradesavante/network/' class="btn btn-success">Network</a>
       <a href='/tradesavante/explore/' class="btn btn-success">Explore</a>
	   <a href='/tradesavante/' class="btn btn-success">logout</a>
     </div> 

{% endblock %}