{% block content %}

     <div class="btn-group-vertical">
       <a href='/tradesavante/' class="btn-success btn-lg" role="button">Home</a> <br/> <br/>
       <a href='/tradesavante/autopick/' class="btn-success btn-lg" role="button">Savante Picks</a> <br/> <br/>
       <a href='/tradesavante/network/' class="btn-success btn-lg">Network</a> <br/> <br/>
       <a href='/tradesavante/explore/' class="btn-success btn-lg">Explore</a> <br/> <br/>
	   <a href='/tradesavante/' class="btn-success btn-lg">logout</a>
     </div> 

{% endblock %}
