{% extends "tradesavante/header.html" %}

{% block content %}
<br/>
<br/>

<div class="row">
  <div class="col-sm-2">
	  {% include "tradesavante/includes/add_item_sidebar.html" %}

  </div>
  <div class="col-sm-4">
	  
	  {% if errors %}
	  
	  <p style="color:red;">  
	  
	  {{error}}
		  
	  </p>
	  
	  {% endif %}
	  
	  
	 <h4>Add key words separated by commas to help search for your item: </h4>
    <form action="/tradesavante/addkeywords/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

	  <table class="table table-bordered table-inverse">
	  {{form.as_table}}
		  <tr>
			  <th colspan="2">
	  <input type="submit" value="Submit" /> 
				  <input type="text" name="itemid" value={{id}}>
				  </th>
			  </tr>
		  </table>
		
</form>

  </div>
  <div class="col-sm-6">
</div>
	
	
</div>

{% endblock %}
