{% extends "tradesavante/header.html" %}

{% block content %}
<br/>
<br/>

<div class="row">
  <div class="col-sm-2">
	  {% include "tradesavante/includes/add_item_sidebar.html" %}

  </div>
  <div class="col-sm-10">
	  
	  {% if errors %}
	  
	  <p style="color:red;">
	  
		  {{error}}

	  </p>
	  
	  {% endif %}
	  
    <form action="/tradesavante/sendmessage/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

	  <table>
	  {{mform.as_table}}
		  <tr>
			  <th colspan="2">
	  <input type="submit" value="Submit" /> 
				  {% if pkey %}
				  <input type="hidden" name="pkey" value={{pkey}}>
				  {% endif %}
				  </th>
			  </tr>
		  </table>
		
</form>

  </div>

</div>

{% endblock %}
